.home {
  position: absolute;
  height: 100%;
  width: calc(100% - 260px);
  @include phone {
    width: 100%;
  }
}

.home__content {
  color: $text-white;
  padding: 40px;
  position: relative;
}

.home__title {
  padding-top: 100px;
  font-size: 94px;
  font-weight: bold;
  margin-bottom: 100px;
  @include phone {
    padding: 0;
    margin: 25px 0;
    font-size: 76px;
  }
}

.home__byline__location-container {
  display: inline-flex;
  position: relative;
  text-decoration: line-through;
}

.home__byline {
  margin-top: 20px;
  font-size: 24px;
  padding-left: 5px;
  max-width: 600px;
  line-height: 32px;
}

.home__byline--location {
  line-height: 26px;
}

.home__location {
  position: absolute;
  top: 24px;
}
.home__byline__city {
  text-decoration: line-through;
}
.home__byline__city:last-child {
  text-decoration: none;
}
