.personal {
  position: absolute;
  width: calc(100% - 260px);
  background-color: $gray-dark;
  height: 100%;
  @include phone {
    width: 100%;
    min-height: 100%;
  }
}

.personal__content {
  padding: 40px;
  position: relative;
  color: $text-gray-dark;
}

.personal__header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

.personal__description {
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
  max-width: 600px;
  margin-bottom: 20px;
}

.personal__category {
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 4px;
}

.personal__personal li {
  margin-bottom: 5px;
}

.personal__personal li a {
  text-decoration: none;
  color: $text-gray-light;
  text-decoration: underline;
}
