.pooplog {
  position: absolute;
  width: calc(100% - 260px);
  color: #593001;
  background-color: #fefec8;
  min-height: 100%;
  @include phone {
    width: 100%;
    min-height: 100%;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
  }
  a:hover {
    text-decoration: underline;
  }
}

.pooplog__content {
  padding: 40px;
  position: relative;
}

.pooplog__header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

.pooplog__description {
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
  max-width: 600px;
  margin-bottom: 20px;
}

.pooplog__numbers-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.pooplog__numbers {
  width: 50%;
  margin-bottom: 20px;
}

.pooplog__number {
  font-size: 58px;
}

.pooplog__subheader {
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.pooplog__number-text {
  font-weight: 200;
}

.pooplog__text {
  font-size: 18px;
  line-height: 28px;
}

.pooplog__charts {
  display: flex;
  @include phone {
    flex-direction: column;
  }
}

.pooplog__chart-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.pooplog__chartwrapper {
  width: 50%;
  @include phone {
    width: 100%;
  }
}

.pooplog__chartwrapper--single {
  width: 100%;
}

.pooplog__chartwrapper--map {
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

// Poopies do fall my friends

@keyframes poops-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes poops-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.poop {
  position: fixed;
  top: -10%;
  z-index: 9999;
  user-select: none;
  cursor: default;
  animation-name: poops-fall, poops-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
  height: 80px;
  width: 80px;
}
.poop:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s, 0s;
}
.poop:nth-of-type(1) {
  left: 80%;
  animation-delay: 1s, 1s;
}
.poop:nth-of-type(2) {
  left: 20%;
  animation-delay: 6s, 0.5s;
}
.poop:nth-of-type(3) {
  left: 150%;
  animation-delay: 4s, 2s;
}
.poop:nth-of-type(4) {
  left: 40%;
  animation-delay: 2.4s, 2s;
}
.poop:nth-of-type(5) {
  left: 90%;
  animation-delay: 8s, 2s;
}
.poop:nth-of-type(6) {
  left: 50%;
  animation-delay: 5s, 2s;
}
.poop:nth-of-type(7) {
  left: 20%;
  animation-delay: 2s, 5s;
}

.tooltip {
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  color: #593001;
}
