.technology {
  display: flex;
  text-decoration: none;
  color: $text-gray-dark;
  flex-direction: column;
  width: 32%;
  @include phone {
    width: 100%;
  }
}

.technology:hover .technology__background {
  background-color: $red;
}

.technology__info {
  padding: 10px 5px;
}

.technology__glance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.technology__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.technology__location {
  font-size: 12px;
  font-weight: 100;
  color: $text-gray-light;
}

.technology__description {
  font-size: 14px;
  max-width: 250px;
  line-height: 24px;
}

.technology__image {
  z-index: 2;
}

.technology__image-container {
  background-color: $gray-light;
  text-align: center;
}

.technology__image-img {
  filter: grayscale(0.9);
  transition: all 0.5s ease-in-out;
}

.technology:hover .technology__image-img {
  filter: grayscale(0);
}
