.work {
  position: absolute;
  width: calc(100% - 260px);
  background-color: $gray-dark;
}

.work__content {
  padding: 40px;
  position: relative;
  color: $text-gray-dark;
}

.work__header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

.work__description {
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
  max-width: 600px;
}

.work__projects {
  padding: 40px;
}
